:root {
  /* Font */
  /*--mainFont:          "Montserrat", Helvetica, Arial, sans-serif;*/
  /*--mainFontColor:     #333333;*/
  /*--mainFontSize:      16px;*/
  /*--mainFontWeight:    400;*/
  /*--mainLineHeight:    21px;*/

  /* Breakpoints */
  /*--lgDesktopWidth:    1400px;*/
  /*--desktopWidth:      1280px;*/
  /*--smDesktopWidth:    1024px;*/
  /*--tableWidth:        768px;*/
  /*--smTableWidth:      640px;*/
  /*--phoneWidth:        480px;*/
  /*--smPhoneWidth:      320px;*/

  /* Colors */
  --primary: #333333;
  --accent-color: #d6d4d4;
  --default-light-color: #ffffff;
  --light-color: #f2f2f2;
  --default-dark-color: #000000;
  --dark-color: #0e0f12;
  --danger-color: #f84e42;
  --warning-color: #f50800;
  --warning-color-dark: #ff2b2b;
  --border-color: #807d7d;
  --border-rgba-color: rgba(51, 51, 51, 0.7);
}
